@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Bebas+Neue&family=Josefin+Sans:wght@1000&family=Jua&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 50px;
}

header img {
    height: 20px;
}

.ttl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Alegreya Sans', sans-serif;
}

.anc {
    margin-left: 60px;
}

.anc a {
    margin-right: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;


}

.buttons button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
}

.b1 {
    background-color: white;
    border: solid black 2px;
}

.b2 {
    background-color: black;
    color: white;
}

.main {
    position: relative;
    width: 1100px;
    height: 700px;
    margin: 80px auto;
}

.txt {
    font-family: 'Alegreya Sans', sans-serif;

}

.txt h1 {
    font-size: 100px;
    font-weight: 700px;
}

.hc {
    color: rgb(67, 179, 199);
}

.txt p {
    padding-top: 10px;
font-size: 20px;
}

.email {
    margin-top: 50px;
width: 320px;
height: 50px;
position: relative;
}

.email button {
    font-family: 'Alegreya Sans', sans-serif;
    border: solid black 2px;
    border-radius: 50px;
    background-color: black;
    color: white;
height: 52px;
width: 120px;
position: absolute;
right: 0;
font-size: 18px;
}

.email input {
    font-family: 'Alegreya Sans', sans-serif;
    border: solid black 1px;
    border-radius: 50px;
    width: 250px;
    height: 50px;
text-indent: 15px;
font-size: 16px;
outline: none;
}

.fumasa {
position: absolute;
right: 10px;
top: 0px;
width: 600px;
height: 600px;
}

.rdp {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.rdp a {
    margin-right: 20px;
}
.rdp a img {
    width: 100px;
    margin-right: 15px;
    padding-top: 50px;
filter: grayscale(100%);
}

.rdp .bolt {
    width: 70px;
}

.rdp .sky {
    width: 180px;
}

a,button:hover {
    cursor: pointer;
}