* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
margin-bottom: 30px;
padding: 50px;
}

header img {
    height: 20px;
}

.anc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}