@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Bebas+Neue&family=Josefin+Sans:wght@700&family=Jua&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;

    font-family: 'Alegreya Sans', sans-serif;
}

*:focus {
    outline: none;
}

/* ===== TOP ===== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav img {
    width: 100px;
}

.left-nav nav a {
    margin-left: 50px;
}


.right-nav {
    display: flex;
    gap: 20px;
}

.right-nav button {
    width: 110px;
    height: 50px;

    border-radius: 50px;

    font-size: 16px;
    font-weight: 600;
}

.login-button {
    background-color: white;
    border: 2px black solid;
}

.singup-button {
    background-color: black;
    color: white;
}

/* ===== MIDDLE ===== */

.body-container {
    margin: 100px auto;
    width: 1500px;
    height: 600px;
    position: relative;
}

.middle-texts {
    width: 600px;
    height: 400px;

    font-size: 22px;
}

.middle-texts h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.savings-text {
    color: blue;
}

.middle-texts p {
    padding-top: 10px;
}

.email-field {
    border: solid black 2px;
    border-radius: 50px;
    width: 300px;
    height: 50px;

    position: relative;
    
}

.email-field input{
    width: 180px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px 0px 0px 50px;

    text-indent: 15px;
}

.email-field button{
    border-radius: 50px;
    width: 120px;
    height: 50px;

    position: absolute;
    right: 0;

    color: white;
    background-color: black;
    font-size: 16px;
}

.down-logo-images {
    display: flex;
    align-items: center;
    gap: 50px;
}

.down-logo-images img {
    width: 150px;
}

.product-image {
    position: absolute;
    width: 600px;
    height: 600px;
    right: 0;
    top: 0px;
}

a,button:hover{
    cursor: pointer;
}